html,
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
}

body {
  background-color: var(--app-sys-color-background);
  color: var(--app-sys-color-on-background);
}

a {
  color: var(--app-sys-color-primary);
}
