.app-introduction {
  &__title {
    color: var(--app-sys-color-primary);
    font-size: 1rem;
    font-weight: 400;

    &-main {
      font-size: 4rem;
      line-height: 3rem;

      @include for-xl-up {
        font-size: 3rem;
      }
      font-weight: 600;
    }
  }
  &__description {
    padding: 1rem 0;
    font-size: 2rem;
    line-height: 2rem;
  }

  &__role {
    &-container {
      padding: 1rem 0;

      @include for-xl-up {
        max-width: 32rem;
      }
    }
  }
}
