{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-restricted-exports": 0,
    "react/jsx-filename-extension": 0
  }
}
